.btn {
	$this: &;

	cursor: pointer;
	padding: 0;
	border: none;
	font-family: var(--main-font);
	transition: color var(--transition300ms), background-color var(--transition300ms);
	color: currentColor;

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent);
		}
	}

	&.disabled,
	&[disabled] {
		background-color: var(--gray-border);
		color: var(--white);
		cursor: not-allowed;

		@media (any-hover: hover) {
			&:hover {
				color: var(--white);
			}
		}
	}

	svg,
	.icon,
	&__icon {
		flex-shrink: 0;
	}

	&--style {
		&_border {
			background-color: var(--white);
			border: 1px solid var(--gray-border);
			border-radius: var(--brs-btn);
			text-transform: uppercase;

			@media (any-hover: hover) {
				&:hover {
					background-color: var(--gray-border);
					color: var(--white);
				}
			}
		}
	}

	&--primary {
		background-color: var(--accent);
		color: var(--white);
		border: 1px solid var(--white);
		border-radius: var(--brs-btn);
		text-transform: uppercase;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--dark-blue);
				color: var(--white);
			}
		}
	}
}

.btns {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}
