.field {
    width: 100%;
    padding: var(--offset) var(--offset-xs);
    background-color: var(--light-gray);
    border-radius: var(--brs-field);
    border: 1px solid var(--white);
    @include font-size(18, 22);
    color: var(--dark-2);
    transition: var(--transition300ms) border-color;

    &::placeholder {
        color: var(--dark-2);
    }

    &:focus {
        border-color: var(--blue);
    }
}

input[type=file] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    opacity: 0;
}
