html {
	box-sizing: border-box;

	scrollbar-color: var(--accent);
    scrollbar-width: thin;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
    	width: rem(7);
    	height: rem(7);
        background-color: var(--dark-gray);
    	border-radius: var(--brs-btn);
    }

    &::-webkit-scrollbar-thumb {
    	background-color: var(--accent);
    	border-radius: var(--brs-btn);
    }
}
