.work-scheme {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(120), 1fr));
    gap: var(--offset-m);
    align-items: flex-start;

    @include media('768', min) {
        position: relative;
        gap: var(--gap);

        &::before {
            content: '';
            @include position-center-x;
            top: rem(40);
            width: calc(830 / 1170 * 100%);
            height: rem(6);
            background-image: url(../images/dots-line.svg);
            @include bg(contain);
        }
    }

    @include media('1101', min) {
        &::before {
            top: rem(50);
        }
    }

    // .work-scheme__item
    &__item {
        @include row-grid(var(--offset-m));
        justify-items: center;
        text-align: center;
    }

    // .work-scheme__item-img
    &__item-img {
        @include flex-center();
        @include round(rem(80), var(--accent));
        border: rem(5) solid var(--dark-blue);

        @include media('1101', min) {
            width: rem(100);
            height: rem(100);
        }

        svg {
            width: rem(45);
            height: rem(45);

            @include media('1101', min) {
                width: rem(55);
                height: rem(55);
            }
        }
    }

    &__item-title {
        @include font-size(16, 19);

        @include media('1101', max) {
            font-size: rem(15);
        }
    }
}
