.work-scheme {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(145), 1fr));
    gap: var(--gap);

    @include media('1101', min) {
        &::before {
            content: '';
            @include position-center-x;
            top: rem(50);
            width: calc(830 / 1170 * 100%);
            height: rem(6);
            background-image: url(../images/dots-line.svg);
            @include bg(contain);
        }
    }

	// .work-scheme__item
	&__item {
        @include row-grid(var(--offset-m));
        justify-items: center;
        text-align: center;
	}

	// .work-scheme__item-img
	&__item-img {
        @include flex-center();
        @include round(rem(100), var(--accent));
        border: rem(5) solid var(--dark-blue);

        svg {
            width: rem(55);
            height: rem(55);
        }
	}

    &__item-title {
        @include font-size(16, 19);

        @include media('500', max) {
            font-size: rem(14);
        }
    }
}

