.promo {
    display: grid;

    @include media('1101', min) {
        min-height: 100vh;
    }

    &__img,
    &__body {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &__body {
        padding: calc(var(--header-height) + var(--section-padding)) 0 var(--section-padding);

        @include media('767', max) {
            padding-top: calc(var(--header-height) + var(--gap));
        }
    }

    &__img {
        img {
            @include media('767', max) {
               object-position: 60%;
            }
        }
    }

    // .promo__content

    &__content {
        @include row-grid(var(--gap-xxl));
        max-width: rem(780);
    }

    // .promo__title

    &__title {
        @include font-size(48, 58);
        font-weight: 700;

        @include media('767', max) {
            font-size: rem(24);
        }
    }

    &__text {
        @include font-size(20, 24);

        @include media('767', max) {
            font-size: rem(16);
        }
    }

    // .promo__list-title

    &__list-title {
        margin-bottom: var(--offset-xs);
        font-weight: 700;
    }

    // .promo__list

    &__list {
        @include row-grid(var(--offset-xxs));
    }

    &__list-item {
        position: relative;
        padding-left: rem(25);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: rem(25);
            height: rem(22);
            background-image: url(../images/icons/defis.svg);
            @include bg(contain);
        }
    }

    &__btns {
        @include media('767', max) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__btn {
        padding: var(--offset);
        @include flex-center-x;
        @include font-size(13, 16);

        @include media('768', min) {
            min-width: rem(183);
        }
    }
}
