.range {
    &__top {
        margin-bottom: var(--offset-m);
        @include flex-center-y;
        gap: var(--offset-xs);
        @include font-size(18, 22);

        @include media('1100', max) {
            font-size: rem(16);
        }
    }

    &__label {
        flex-grow: 1;
    }

    &__value {
        color: var(--light-gray);
        white-space: nowrap;
    }
}

.noUi {
    $this: &;

    &-target {
        background-color: rgba(var(--color-white-rgb), var(--opacity-70));
        border-color: var(--white);
        box-shadow: none;
    }

    &-handle {
        background-color: var(--blue);
        border-radius: 50%;
        border: 3px solid var(--dark-blue);
        box-shadow: none;

        &::before,
        &::after {
            display: none;
        }
    }

    &-horizontal {
        height: rem(6);

        #{$this} {
            &-handle {
                top: -0.6rem;
                width: rem(24);
                height: rem(24);
            }
        }
    }
}
