:root {
	// pallette
	--color-white-rgb: 255, 255, 255;
    --dark-gray-rgb: 61, 64, 80;

    --opacity-70: 0.7;
    --opacity-85: 0.85;

	--white: rgb(var(--color-white-rgb));
	--light-gray: rgba(var(--color-white-rgb), var(--opacity-85));
	--black: #000;
	--dark: #2A2B30;
	--dark-2: #272733;
	--accent: #3E9CDC;
    --blue: #42A9ED;
	--dark-blue: #286690;
	--gray: #BBB;
	--gray-2: #C3C3C3;
	--gray-bg: #3D4050;
	--gray-border: #6F6D7B;
    --dark-gray: rgba(var(--dark-gray-rgb), var(--opacity-85));

	// container
	--container-width: #{rem(1170)};
	--container-padding: #{rem(15)};

	// header
	--header-height: #{rem(100)};

	// section paddings
	--section-padding: #{rem(100)};
	--section-padding_xl: #{rem(120)};
	--section-padding_xxl: #{rem(150)};

    @include media('767', max) {
        --section-padding: #{rem(50)};
        --section-padding_xl: #{rem(60)};
        --section-padding_xxl: #{rem(75)};
    }

    // gaps
	--gap: #{rem(30)};
	--gap-xl: #{rem(60)};
	--gap-xxl: #{rem(80)};

    @include media('767', max) {
        --gap: #{rem(15)};
        --gap-xl: #{rem(30)};
        --gap-xxl: #{rem(40)};
    }

	// offsets
	--offset-m: #{rem(20)};
	--offset-s: #{rem(15)};
	--offset: #{rem(12)};
	--offset-xs: #{rem(10)};
	--offset-xxs: #{rem(5)};

	// icons
	--icon-size: #{rem(20)};

	// typography
	--base-font-size: 16;
	--main-font: 'Lato', sans-serif;
	--color-default: var(--black);

	// animations
	--transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
	--duration300ms: 0.3s;
	--duration1s: 1s;
	--delay: var(--duration300ms);
	--transition300ms: var(--duration300ms) var(--transition-timing);
    --transition1s: var(--duration1s) var(--transition-timing);

	// other
	--brs-field: 3px;
	--brs-btn: 4px;
}
